@media screen and (max-width: 1300px) {
    body {
        background-color: blue;
    }


    @font-face {
        font-family: myFirstFont;
        src: url(/VisualInventory/fonts/DENSOSans-Regular.ttf)
    }

    body {
        font-family: myFirstFont;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        word-spacing: 1.4px;
        color: white;
        width: 100%;
        height: 100%;
        /* background-color: red; */
        background: url(/VisualInventory/icon/Background.png);
    }



    .sc1 {
        margin-left: 0px;
        margin-bottom: 20px;
        display: flex;
        /* grid-template-rows: repeat(2, 300px);
        grid-template-columns: repeat(2, 300px); */
        grid-gap: 1em;
        width: 100%;
        /* background-color: teal; */
    }

    .item-1-1 {
        /* background-color: teal; */
        /* text-align: center; */
        display: block;
        /* justify-content: center;
          align-items: center; */
        /* text-align: center; */
        /* font-size: 0.75rem; */
    }

    .apexcharts-tooltip {
        background: #f3f3f3;
        color: rgb(0, 0, 0);
    }

    .apexcharts-menu {
        background-color: #27293d !important;
        border: 0px;
        color: white;
    }

    #chart {
        max-width: 1000px;
        margin: 0px auto;
        margin-top: -210;
        margin-left: 10px;
        font-size: 10pt;
        width: 600px;
        height: 0px;
        z-index: 2;
        position: absolute
    }

    #chart1 {
        max-width: 1000px;
        margin: 0px auto;
        margin-top: -210;
        margin-left: 10px;
        font-size: 10pt;
        width: 400px;
        height: 0px;
        z-index: 2;
        position: absolute
    }

    #chart2 {
        color: crimson;
        max-width: 1000px;
        margin: 0px auto;
        margin-top: -210;
        margin-left: 10px;
        font-size: 10pt;
        width: 500px;
        height: 0px;
        z-index: 2;
        position: absolute,
    }

    .item-0 {
        /* Right logo */
        /* position: fixed; */
        margin-top: 10px;
        margin-left: 940px;
        text-align: right;
        font-size: 11.5pt;
        top: 0px;
        right: 0px;
        border-radius: 0;
        width: 250px;
        height: 0px;
        z-index: 5;
        color: rgb(166, 166, 166, 1);
        background-color: rgb(255, 255, 255, 0);
    }

    .item-0-1 {
        /*line*/
        /* position: fixed; */
        margin-top: 30px;
        margin-left: 965px;
        text-align: right;
        font-size: 10pt;
        /* top: 35px;
        right: 1410px; */
        border-radius: 0;
        width: 230px;
        height: 0px;
        z-index: 5;
        color: rgb(166, 166, 166, 1);
        background-color: rgb(255, 255, 255, 0);
    }

    .item-0-2 {
        /*Time Visual*/
        /* position: fixed; */
        margin-left: 890px;
        text-align: right;
        font-size: 18pt;
        /* top: 40px;
        right: 15px; */
        border-radius: 0;
        width: 300px;
        height: 0px;
        z-index: 5;
        color: rgb(166, 166, 166, 1);
        background-color: rgb(255, 255, 255, 1);
    }

    .item-1 {
        /*Main Hearder*/
        position: fixed;
        text-align: left;
        font-size: 26pt;
        top: 0px;
        left: 15px;
        border-radius: 0;
        width: 1300px;
        height: 50px;
        z-index: 3;
        color: rgb(255, 255, 255);
        background-color: rgb(31, 40, 78, 0.6);
        /*(31, 40, 78);*/
    }

    .item-2 {
        /*Sub Hearder*/
        position: fixed;
        text-align: left;
        font-size: 10pt;
        top: 30px;
        left: 15px;
        border-radius: 0;
        width: 600px;
        height: 0px;
        z-index: 3;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0);
    }

    .item-2-1 {
        /*Sub Hearder : Detail*/
        /* top: 1000px; */
        margin-top: 0px;
        margin-left: 20px;
        grid-gap: 1em;
        /* height:10px; */
        display: flex;
        justify-content: left;
        align-items: left;
        background: none;
        z-index: 3;
        background-color: rgba(0, 0, 255, 1);
    }

    .item-2-1 {
        /*Sub Hearder : EPD*/
        /* position: fixed; */
        margin-top: 40px;
        margin-left: 20px;
        text-align: left;
        font-size: 16pt;
        top: 80px;
        left: 18px;
        border-radius: 0;
        width: 500px;
        height: 30px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(244, 10, 10, 0);
    }

    .item-2-2 {
        /*Sub Hearder : filter*/
        /* position: fixed; */
        /* margin-top:0px; */
        margin-left: 30px;
        text-align: left;
        font-size: 14pt;
        /* top: 200px; */
        /* left: 18px; */
        border-radius: 0;
        width: 500px;
        height: 50px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(244, 10, 10, 0);
    }

    .item-2-3 {
        /*Sub Hearder : EPD*/
        /* position: fixed; */
        margin-top: 20px;
        margin-left: 20px;
        text-align: left;
        font-size: 16pt;
        top: 80px;
        left: 18px;
        border-radius: 0;
        width: 500px;
        height: 30px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(244, 10, 10, 0);
    }

    .item-3 {
        /*block1_inventory status*/
        /* position: fixed; */
        font-weight: 700;
        font-size: 1.25rem;
        /* margin-top:0px; */
        margin-left: 20px;
        border-radius: 5px;
        width: 650px;
        height: 380px;
        display: block;
        justify-content: left;
        align-items: left;
        /* background-color: red; */
    }

    .item-3-1 {
        /*block1_Header*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 16pt;
        margin-top: -65px;
        margin-left: 50px;
        /* margin-top:1; */
        /* border-radius: 0; */
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(12, 233, 233);
        /* background-color: red; */
        /* background-color: rgba(255, 255, 255, 1); */
    }

    .item-3-2 {
        /*block1_Sub Header_Donut*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 14pt;
        margin-top: 40px;
        margin-left: 40px;
        /* margin-top:1; */
        /* border-radius: 0; */
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        /* background-color: red; */
        /* background-color: rgba(255, 255, 255, 1); */
    }

    .item-3-3 {
        /*block1_Sub Header_Stock*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 14pt;
        margin-top: -18px;
        margin-left: 360px;
        /* margin-top:1; */
        /* border-radius: 0; */
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        /* background-color: red; */
        /* background-color: rgba(255, 255, 255, 1); */
    }

    .item-3-4 {
        /*block1_LabelAssy_Stock*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 100;
        margin-top: -5px;
        margin-left: 785px;
        word-wrap: break-word;
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 1);
    }

    .item-3-5 {
        /*block1_LabelSubAssy_Stock*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 80;
        margin-top: 100px;
        margin-left: 775px;
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 1);
    }

    .item-3-6 {
        /*block1_Donut/
      /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 100;
        margin-top: 100px;
        margin-left: 780px;
        /* margin-top:1; */
        /* border-radius: 0; */
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        /* background-color: red; */
        background-color: rgba(255, 255, 255, 1);
    }

    .item-3-7 {
        /*block1_Donut/
        /* position: fixed; */
        margin-top: -150px;
        margin-left: -5px;
        width: 200px;
        height: 0px;
        z-index: 3;
    }

    .item-3-8 {
        /*block1_Data Label*/
        /* position: fixed; */
        margin-top: -210;
        margin-left: 340px;
        font-size: 10pt;
        color: white;
        width: 420px;
        height: 0px;
        z-index: 3;
    }

    .item-3-9 {
        /*block1_DataTable*/
        /* position: fixed; */
        margin-top: 45;
        margin-left: 770px;
        font-size: 32pt;
        align-items: center;
        color: rgba(0, 255, 221, 1.0);
        width: 420px;
        height: 0px;
        z-index: 3;
        background-color: rgb(245, 228, 220);
    }


    .item-4 {
        /*block2_Abnormal Stock Products*/
        /* position: fixed; */
        font-weight: 700;
        font-size: 1.25rem;
        /* margin-top: 0px; */
        /* margin-left: 925px; */
        border-radius: 5px;
        width: 515px;
        height: 380px;
        display: block;
        z-index: 2;
        justify-content: left;
        align-items: left;
        background-color: rgba(89, 89, 89, 0.35);
    }

    .item-4-1 {
        /*block2_Header*/
        /* position: fixed; */
        text-align: left;
        font-size: 16pt;
        margin-top: -62px;
        margin-left: 50px;
        /* top: 170px;
        left: 980px; */
        border-radius: 0;
        width: 500px;
        height: 0px;
        z-index: 2;
        color: rgb(12, 233, 233);
        background-color: rgba(255, 255, 255, 0);
    }

    .item-4-2 {
        /*block2_Sub Header*/
        /* position: fixed; */
        text-align: left;
        font-size: 12pt;
        margin-top: 0px;
        margin-left: 565px;
        /* top: 170px;
        left: 980px; */
        border-radius: 0;
        width: 300px;
        height: 0px;
        z-index: 2;
        color: white;
        background-color: rgba(255, 255, 255, 0);
    }

    .item-4-3 {
        /*block1_Hori_barchart*/
        /* position: fixed; */
        margin-top: 45;
        margin-left: 0px;
        font-size: 14pt;
        /* align-items: center; */
        color: rgba(0, 255, 221, 1.0);
        width: 420px;
        height: 0px;
        z-index: 2;
        background-color: rgb(245, 228, 220, 0);
    }

    .item-5 {
        /*block3_Production Achievements*/
        /* position: fixed; */
        font-weight: 700;
        font-size: 1.25rem;
        /* top: 440px;
        left: 15px; */
        /* margin-top: 100px; */
        margin-left: 20px;
        /* display: flex; */
        border-radius: 5px;
        width: 600px;
        height: 400px;
        display: block;
        justify-content: left;
        align-items: left;
        background-color: rgba(89, 89, 89, 0.35);
    }

    .item-5-1 {
        /*block3_Header*/
        /* position: fixed; */
        text-align: left;
        font-size: 16pt;
        /* display: block; */
        margin-top: -62px;
        margin-left: 60px;
        /* top: 430px;
        left: 65px; */
        border-radius: 0;
        /* width: 500px; */
        /* height: 0px; */
        z-index: 2;
        color: rgb(12, 233, 233);
        background-color: rgba(255, 255, 255, 0);
    }

    .item-5-2 {
        /*block1_Hori_barchart*/
        margin-top: -210;
        margin-left: 10px;
        font-size: 10pt;
        width: 600px;
        height: 0px;
        z-index: 2;
        /* background-color: rgb(245, 228, 220); */
    }

    .item-5-3 {
        /*block1_LabelAssy_Stock*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 100;
        margin-top: 65px;
        margin-left: 700px;
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 1);
    }

    .item-5-4 {
        /*block1_LabelSubAssy_Stock*/
        /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 80;
        margin-top: 100px;
        margin-left: 690px;
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 1);
    }

    .item-5-5 {
        /*block1_Donut/
      /* position: fixed; */
        /* text-align:left; */
        font-size: 10pt;
        font-weight: 100;
        margin-top: 100px;
        margin-left: 680px;
        /* margin-top:1; */
        /* border-radius: 0; */
        width: 200px;
        height: 0px;
        z-index: 1;
        color: rgb(255, 255, 255);
        /* background-color: red; */
        background-color: rgba(255, 255, 255, 1);
    }

    .item-5-6 {
        /*block1_DataTable*/
        /* position: fixed; */
        margin-top: 45;
        margin-left: 570px;
        font-size: 24pt;
        align-items: center;
        color: rgba(0, 255, 221, 1.0);
        width: 420px;
        height: 0px;
        z-index: 3;
        background-color: rgb(245, 228, 220);
    }

    .item-6 {
        /*block4_Stock Status by Part Number*/
        /* position: fixed; */
        font-weight: 700;
        font-size: 1.25rem;
        top: 440px;
        left: 625px;
        border-radius: 5px;
        width: 565px;
        height: 400px;
        display: block;
        justify-content: left;
        align-items: left;
        background-color: rgba(89, 89, 89, 0.35);
    }

    .item-6-1 {
        /*block4_Header*/
        /* position: fixed; */
        text-align: left;
        font-size: 16pt;
        margin-top: -62px;
        margin-left: 60px;
        /* top: 430px;
        left: 1680px; */
        border-radius: 0;
        display: block;
        width: 500px;
        height: 0px;
        z-index: 2;
        color: rgb(12, 233, 233);
        background-color: rgba(255, 255, 255, 0);
    }

    .item-6-2 {
        /*block1_DataTable*/
        /* position: fixed; */
        margin-top: 50px;
        margin-left: 20px;
        font-size: 10pt;
        font-weight: 80;
        align-items: center;
        overflow-y: auto;
        /* border-color:#ddd; */
        color: white;
        width: 780px;
        height: 330px;
        z-index: 3;
        /* background-color: rgb(245, 228, 220); */
    }

    .item-6-3 {
        /*block1_DataTable*/
        font-size: 9pt;
        font-weight: 80;
        align-items: left;
        color: white;
        z-index: 3;
        /* display: inline-flexbox; */
        background-color: rgb(21, 204, 103);
        background-size: 100px;
        border-radius: 20px;
        justify-content: left;
        border-spacing: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .item-6-4 {
        /*block1_DataTable*/
        font-size: 9pt;
        font-weight: 80;
        align-items: left;
        color: white;
        z-index: 3;
        /* display: inline-flexbox; */
        background-color: rgb(255, 0, 55, 1.0);
        background-size: 100px;
        border-radius: 20px;
        justify-content: left;
        border-spacing: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .item-6-5 {
        /*block1_DataTable*/
        font-size: 9pt;
        font-weight: 80;
        align-items: left;
        color: gray;
        z-index: 3;
        /* display: inline-flexbox; */
        background-color: rgb(247, 211, 4);
        background-size: 100px;
        border-radius: 20px;
        justify-content: left;
        border-spacing: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .progress-container {
        position: relative;
        display: inline-block;
        background: #eeeeeed4;
        height: 10px;
        border-radius: 3px;
        padding-top: 0px;
        overflow: hidden;
        /* justify-content: center; */
    }

    .progress-container::before {
        /* content: counter(num) "%"; */
        content: "";
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 89%;
        background: turquoise;
    }

    progress {
        opacity: 0;
    }
}