@media only screen and (min-width: 1300px) and (max-width: 1900px) {
  @font-face {
    font-family: myFirstFont;
    src: url(/fonts/DENSOSans-Regular.ttf);
  }

  * {
    font-family: myFirstFont;
    /* box-sizing: border-box; */
    /* margin-top: 0%; */
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: white;
    background: url(/Learn-CSS-Positioning-Quickly-With-A-Real-World-Example/icon/Background.png);
  }

  .container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }

  /* .item-1 {
    background-color: chartreuse;
  } */

  /* .item-2 {
    background-color: var(--clr-sky);
  } */

  /* .item-3 {
    background-color: var(--clr-yellow);
  } */

  .item-4 {
    /* background-color: teal; */
    /* text-align: center; */
    display: block;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    /* font-size: 0.75rem; */
  }

  .item-5 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .item-6 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-7 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-8 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-9 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-10 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-11 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-12 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-13 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-31 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-14-1 {
    background-color: rgba(123, 166, 249, 0.2);
  }

  .item-14-2 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-14-3 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-14-4 {
    background-color: rgba(89, 89, 89, 0.35);
  }

  .item-14-5 {
    background-color: rgba(123, 166, 249, 1);
  }

  .item-14-6 {
    background-color: rgb(123, 166, 249);
  }

  .item-14-7 {
    background-color: rgb(123, 166, 249);
  }

  .item-14-8 {
    background-color: rgb(123, 166, 249);
  }

  .item-14-9 {
    background-color: rgb(123, 166, 249);
  }

  .item-14-10 {
    background-color: rgb(123, 166, 249);
  }

  .item-14-11 {
    background-color: rgb(123, 166, 249);
  }

  .item-16 {
    /* background-color: rebeccapurple; */
    font-size: 1.5rem;
    margin-left: 1dvb;
    margin-top: 5px;
  }

  .item-17 {
    /* background-color: red; */
    margin-left: 10px;
    margin-top: 5px;
  }

  .item-18 {
    margin-left: 10px;
    text-align: center;
    background-color: #42e684;
    border-radius: 200px;
    /* margin-top: 5px */
  }

  .item-19 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .item-20 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 5px;
  }

  .item-21 {
    margin-left: 10px;
    margin-top: 5px;
  }

  .item-22 {
    margin-left: 10px;
    text-align: center;
    background-color: #ffc000;
    border-radius: 200px;
  }

  .item-23 {
    margin-left: 10px;
    margin-top: 5px;
    /* background-color: grey; */
  }

  .item-24 {
    font-size: 1.25rem;
    /* margin-left: 10px;
    margin-top: 5px; */
  }

  .item-25 {
    font-size: 3.25rem;
    text-align: center;
    color: #42e684;
    /* background-color: #ffc000; */
    /* border-radius: 200px; */
  }

  .item-26 {
    font-size: 1.5rem;
    text-align: center;
  }

  .item-27 {
    margin-left: 10px;
    margin-top: 5px;
    /* background-color: grey; */
  }

  .item-28 {
    font-size: 1.25rem;
    /* margin-left: 10px;
    margin-top: 5px; */
  }

  .item-29 {
    font-size: 3.25rem;
    text-align: center;
    color: red;
    /* background-color: #ffc000; */
    /* border-radius: 200px; */
  }

  .item-30 {
    font-size: 1.5rem;
    text-align: center;
  }

  /* table,
  th,
  td {
    padding: 2px;
    border: 1px solid white;
    border-collapse: collapse;
  } */

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgba(89, 89, 89, 0.8);
    z-index: 5;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    height: 180px;
    /* background-color: black; */
    background-color: rgba(89, 89, 89, 0.8);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    /* margin-left: 100px; */
    /* border: solid 1px red; */
    padding: 10px 20px;
    margin-left: 10px;
    position: absolute;
    z-index: 5;
    top: -20px;
    left: 110%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -70px;
    border-width: 10px;
    z-index: 5;
    border-style: solid;
    border-color: transparent rgba(89, 89, 89, 0.8) transparent transparent;
  }

  .item-1 {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0;
    width: 90%;
    height: 80px;
    z-index: 1;
    /* background-color: #8b8f8c; */
  }

  .item-2 {
    position: fixed;
    font-size: 0.8rem;
    top: 70px;
    left: 0px;
    border-radius: 0;
    width: 90%;
    height: 30px;
    z-index: 5;
    /* background-color: #344; */
  }

  #button:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);
    color: #000;
    transform: translateY(3px);
  }

  .item-2-1 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 230px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-2 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 370px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-3 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 510px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-4 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 650px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-5 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 790px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-6 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 930px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-7 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    top: 75px;
    left: 1070px;
    width: 120px;
    height: 22px;
    z-index: 5;
    border: solid 1px white;
    border-radius: 150px;
    /* background-color: #344; */
  }

  .item-2-8 {
    position: fixed;
    font-size: 1.1669rem;
    text-align: center;
    top: 100px;
    left: 10px;
    height: 22px;
    z-index: 5;
    color: rgb(112, 153, 156);
    /* background-color: #344; */
  }

  /* .item-3 {
        position: fixed;
        top: 180px;
        bottom: 180px;
        left: 380px;
        right: 0px;
        border-radius: 0;
        height: 710px;
        width: 100%;
        z-index: 6;
    } */

  .item-4 {
    position: fixed;
    top: 10px;
    right: 30px;
    margin-top: 0px;
    border-radius: 0;
    width: 220px;
    height: 30px;
    z-index: 1;
    color: rgb(166, 166, 166, 1);
    /* background-color: #ffc000; */
  }

  .item-4 hr {
    position: fixed;
    top: 45px;
    right: 50px;
    margin-top: 0px;
    width: 180px;
  }

  .item-4-1 {
    position: fixed;
    text-align: center;
    font-size: 20px;
    top: 50px;
    right: 30px;
    border-radius: 0;
    width: 220px;
    height: 30px;
    z-index: 1;
    color: rgb(166, 166, 166, 1);
    /* background-color: #ffc000; */
  }

  .item-6 {
    position: fixed;
    top: 140px;
    bottom: 400px;
    left: 10px;
    right: 0px;
    border-radius: 10px;
    width: 370px;
    height: 280px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-6-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 150px;
    left: 75px;
    right: 0px;
    border-radius: 10px;
    z-index: 3;
    width: 150px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-6-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: rgb(89, 89, 89);
    top: 165px;
    left: 265px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(66, 230, 132);
  }

  .item-6-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 200px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 230px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-5 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 210px;
    left: 275px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 80px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-6-6 {
    position: fixed;
    font-size: 1.2rem;
    top: 250px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-7 {
    position: fixed;
    font-size: 0.8rem;
    top: 280px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-8 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 260px;
    left: 275px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 80px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-6-9 {
    position: fixed;
    font-size: 1.2rem;
    top: 300px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-10 {
    position: fixed;
    font-size: 0.8rem;
    top: 330px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-11 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 310px;
    left: 275px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 80px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-6-12 {
    position: fixed;
    font-size: 1.2rem;
    top: 350px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-13 {
    position: fixed;
    font-size: 0.8rem;
    top: 380px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-6-14 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 360px;
    left: 275px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 80px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-7 {
    position: fixed;
    top: 440px;
    left: 10px;
    right: 0px;
    border-radius: 10px;
    width: 370px;
    height: 240px;
    z-index: 3;
  }

  .item-7-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 450px;
    left: 65px;
    right: 0px;
    border-radius: 10px;
    z-index: 3;
    width: 250px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-7-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: red;
    top: 460px;
    left: 265px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(251, 193, 201);
  }

  .item-7-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 500px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-7-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 530px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-7-5 {
    position: fixed;
    font-size: 0.9rem;
    text-align: center;
    color: #000;
    top: 510px;
    left: 245px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(251, 193, 201);
  }

  .item-7-6 {
    position: fixed;
    font-size: 1.2rem;
    top: 550px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-7-7 {
    position: fixed;
    font-size: 0.8rem;
    top: 580px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-7-8 {
    position: fixed;
    font-size: 0.9rem;
    text-align: center;
    color: #000;
    top: 560px;
    left: 245px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: #ffc000;
  }

  .item-8 {
    position: fixed;
    top: 700px;
    left: 10px;
    right: 0px;
    border-radius: 10px;
    width: 370px;
    height: 180px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-8-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 710px;
    left: 65px;
    right: 0px;
    border-radius: 10px;
    z-index: 3;
    width: 250px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-8-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: rgb(89, 89, 89);
    top: 720px;
    left: 265px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(66, 230, 132);
  }

  .item-8-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 760px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-8-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 790px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-8-5 {
    position: fixed;
    font-size: 0.9rem;
    text-align: center;
    color: #000;
    top: 770px;
    left: 245px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-8-6 {
    position: fixed;
    font-size: 1.2rem;
    top: 810px;
    left: 20px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-8-7 {
    position: fixed;
    font-size: 0.8rem;
    top: 840px;
    left: 40px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-8-8 {
    position: fixed;
    font-size: 0.9rem;
    text-align: center;
    color: #000;
    top: 820px;
    left: 245px;
    right: 0px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-9 {
    position: fixed;
    top: 920px;
    left: 10px;
    border-radius: 100px;
    width: 370px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-9-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 925px;
    left: 95px;
    right: 0px;
    /* border-radius: 100px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-9-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 955px;
    left: 95px;
    /* border-radius: 100px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-10 {
    position: fixed;
    top: 920px;
    left: 395px;
    right: 0px;
    border-radius: 100px;
    width: 370px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-10-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 925px;
    left: 480px;
    right: 0px;
    /* border-radius: 100px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-10-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 955px;
    left: 480px;
    /* border-radius: 100px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-11 {
    position: fixed;
    top: 920px;
    left: 778px;
    right: 0px;
    border-radius: 100px;
    width: 370px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-11-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 925px;
    left: 860px;
    right: 0px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-11-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 955px;
    left: 860px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-12 {
    position: fixed;
    top: 920px;
    left: 1159px;
    border-radius: 100px;
    width: 340px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-12-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 925px;
    left: 1240px;
    right: 0px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-12-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 955px;
    left: 1240px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-13 {
    position: fixed;
    top: 920px;
    right: 10px;
    border-radius: 100px;
    width: 345px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-13-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 925px;
    left: 1620px;
    right: 0px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-13-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 955px;
    left: 1620px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-31 {
    position: fixed;
    top: 830px;
    left: 395px;
    right: 0px;
    border-radius: 100px;
    width: 370px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-31-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 835px;
    left: 480px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-31-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 865px;
    left: 480px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-14-1 {
    position: fixed;
    top: 830px;
    left: 1135px;
    right: 0px;
    border-radius: 100px;
    width: 340px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-14-1-1 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 835px;
    left: 1240px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-14-1-2 {
    position: fixed;
    font-size: 1.2rem;
    text-align: left;
    top: 865px;
    left: 1240px;
    /* border-radius: 110px; */
    z-index: 3;
    width: 300px;
    height: 30px;
    /* background-color: rgb(174, 244, 202); */
  }

  .item-14-2 {
    position: fixed;
    top: 140px;
    right: 10px;
    border-radius: 10px;
    width: 370px;
    height: 280px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-14-2-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 155px;
    left: 1560px;
    border-radius: 10px;
    z-index: 3;
    width: 150px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-14-2-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: red;
    top: 168px;
    left: 1745px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(251, 193, 201);
  }

  .item-14-2-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 200px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 230px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-5 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 210px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(251, 193, 201);
  }

  .item-14-2-6 {
    position: fixed;
    font-size: 1.2rem;
    top: 250px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-7 {
    position: fixed;
    font-size: 0.8rem;
    top: 280px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-8 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 260px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(251, 193, 201);
  }

  .item-14-2-9 {
    position: fixed;
    font-size: 1.2rem;
    top: 300px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-10 {
    position: fixed;
    font-size: 0.8rem;
    top: 330px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-11 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 310px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-2-12 {
    position: fixed;
    font-size: 1.2rem;
    top: 350px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-13 {
    position: fixed;
    font-size: 0.8rem;
    top: 380px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-2-14 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 360px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-3 {
    position: fixed;
    top: 440px;
    right: 10px;
    border-radius: 10px;
    width: 370px;
    height: 240px;
    z-index: 3;
  }

  .item-14-3-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 455px;
    left: 1560px;
    border-radius: 10px;
    z-index: 3;
    width: 150px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-14-3-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: rgb(89, 89, 89);
    top: 468px;
    left: 1745px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(66, 230, 132);
  }

  .item-14-3-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 500px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 530px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-5 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 510px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 150px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-3-6 {
    position: fixed;
    font-size: 1.2rem;
    top: 550px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-7 {
    position: fixed;
    font-size: 0.8rem;
    top: 580px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-8 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 560px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-3-9 {
    position: fixed;
    font-size: 1.2rem;
    top: 600px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-10 {
    position: fixed;
    font-size: 0.8rem;
    top: 630px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-3-11 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 610px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-4 {
    position: fixed;
    top: 700px;
    right: 10px;
    border-radius: 10px;
    width: 370px;
    height: 180px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-14-4-1 {
    position: fixed;
    text-align: left;
    font-size: 1.67rem;
    color: rgb(129, 228, 229);
    top: 710px;
    left: 1560px;
    border-radius: 10px;
    z-index: 3;
    width: 150px;
    height: 40px;
    /* background-color: #ffc000; */
  }

  .item-14-4-2 {
    position: fixed;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: rgb(89, 89, 89);
    top: 725px;
    left: 1745px;
    border-radius: 100px;
    z-index: 3;
    width: 100px;
    height: 20px;
    background-color: rgb(66, 230, 132);
  }

  .item-14-4-3 {
    position: fixed;
    font-size: 1.2rem;
    top: 765px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-4-4 {
    position: fixed;
    font-size: 0.8rem;
    top: 795px;
    left: 1505px;
    border-radius: 100px;
    z-index: 3;
    width: 300px;
    height: 20px;
    /* background-color: rgb(66, 230, 132); */
  }

  .item-14-4-5 {
    position: fixed;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    top: 775px;
    left: 1725px;
    border-radius: 100px;
    z-index: 3;
    width: 120px;
    height: 20px;
    background-color: rgb(174, 244, 202);
  }

  .item-14-5 {
    position: fixed;
    top: 920px;
    right: 285px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 5;
    /* background-color: #ffc000; */
  }

  .item-14-6 {
    position: fixed;
    top: 920px;
    left: 1159px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 3;
    /* background-color: rgb(123, 166, 249); */
  }

  .item-14-7 {
    position: fixed;
    top: 920px;
    left: 778px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  .item-14-8 {
    position: fixed;
    top: 920px;
    left: 395px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 5;
    /* background-color: #ffc000; */
  }

  .item-14-9 {
    position: fixed;
    top: 920px;
    left: 10px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 5;
    /* background-color: #ffc000; */
  }

  .item-14-10 {
    position: fixed;
    top: 830px;
    left: 1135px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 5;
    /* background-color: #ffc000; */
  }

  .item-14-11 {
    position: fixed;
    top: 830px;
    left: 395px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    z-index: 5;
    /* background-color: #ffc000; */
  }

  .item-14-12 img {
    width: 70px;
    height: 81px;
    top: 910px;
    left: 10px;
  }

  .item-14-13 img {
    width: 70px;
    height: 81px;
    top: 910px;
    left: 10px;
  }

  .item-14-14 img {
    width: 70px;
    height: 81px;
    top: 910px;
    left: 10px;
  }

  .item-14-15 img {
    width: 70px;
    height: 81px;
    top: 910px;
    left: 10px;
  }

  .item-14-16 img {
    width: 70px;
    height: 81px;
    top: 910px;
    left: 10px;
  }

  .item-14-17 img {
    width: 70px;
    height: 81px;
    top: 820px;
    left: 10px;
  }

  .item-14-18 img {
    width: 70px;
    height: 81px;
    top: 820px;
    left: 10px;
  }

  .item-15 {
    position: fixed;
    top: 200px;
    border-radius: 0;
    width: 300px;
    height: 150px;
    z-index: 3;
    /* background-color: #ffc000; */
  }

  /* Prod. Volume Block */
  .item-5 {
    position: fixed;
    top: 110px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 190px;
    height: 40px;
    z-index: 3;
    /* border: solid 1px white; */
    background-color: red;
  }

  .item-16 {
    position: fixed;
    top: 160px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 150px;
    height: 40px;
    z-index: 3;
    border: solid 1px white;
  }

  .item-17 {
    position: fixed;
    top: 190px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 180px;
    height: 40px;
    z-index: 3;
    /* border: solid 1px white; */
    background-color: red;
  }

  .item-18 {
    position: fixed;
    top: 230px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 110px;
    height: 25px;
    z-index: 3;
    /* border: solid 1px white; */
    background-color: red;
  }

  /* OA Block */
  .item-19 {
    position: fixed;
    top: 290px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 150px;
    height: 40px;
    z-index: 3;
    background-color: red;
  }

  .item-20 {
    position: fixed;
    top: 340px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 150px;
    height: 40px;
    z-index: 3;
    background-color: red;
  }

  .item-21 {
    position: fixed;
    top: 370px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 180px;
    height: 30px;
    z-index: 3;
    background-color: red;
  }

  .item-22 {
    position: fixed;
    top: 410px;
    /* bottom: 400px; */
    left: 180px;
    right: 0px;
    width: 110px;
    height: 25px;
    z-index: 3;
    background-color: red;
  }

  /* Manufacturing Block */
  /* icon */
  .item-23 {
    position: fixed;
    top: 470px;
    /* bottom: 400px; */
    left: 30px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 3;
  }

  /* Manufacturing */
  .item-24 {
    position: fixed;
    top: 480px;
    /* bottom: 400px; */
    left: 90px;
    right: 0px;
    width: 200px;
    height: 40px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* Manufacturing Value */
  .item-25 {
    position: fixed;
    top: 520px;
    /* bottom: 400px; */
    left: 170px;
    right: 0px;
    width: 200px;
    height: 60px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* % */
  .item-26 {
    position: fixed;
    top: 552px;
    /* bottom: 400px; */
    left: 320px;
    right: 0px;
    width: 50px;
    height: 50px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* Part Manufacturing Block */
  /* icon */
  .item-27 {
    position: fixed;
    top: 650px;
    /* bottom: 400px; */
    left: 30px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* Part Manufacturing */
  .item-28 {
    position: fixed;
    top: 660px;
    /* bottom: 400px; */
    left: 90px;
    right: 0px;
    width: 200px;
    height: 40px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* Part Manufacturing Value */
  .item-29 {
    position: fixed;
    top: 700px;
    /* bottom: 400px; */
    left: 170px;
    right: 0px;
    width: 200px;
    height: 60px;
    z-index: 3;
    /* background-color: grey; */
  }

  /* % */
  .item-30 {
    position: fixed;
    top: 732px;
    /* bottom: 400px; */
    left: 320px;
    right: 0px;
    width: 50px;
    height: 50px;
    z-index: 3;
    /* background-color: grey; */
  }
}
