.AltProd {
  color: transparent;
  box-shadow: 2px 2px 3px white;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.StrProd {
  color: transparent;
  box-shadow: 2px 2px 3px white;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.ECCABS {
  color: transparent;
  box-shadow: 2px 2px 3px white;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.Parts1 {
  color: transparent;
  box-shadow: 2px 2px 3px white;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.Parts2 {
  color: transparent;
  box-shadow: 2px 2px 3px white;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.AltProd-1 {
  position: fixed;
  left: 1190px;
  top: 485px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-2 {
  position: fixed;
  left: 1215px;
  top: 510px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-3 {
  position: fixed;
  left: 1110px;
  top: 280px;
  border-radius: 20px;
  z-index: 2;
  background-color: #8b8f8c;
}

.AltProd-4 {
  position: fixed;
  left: 1225px;
  top: 475px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-5 {
  position: fixed;
  left: 1200px;
  top: 540px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-6 {
  position: fixed;
  left: 1160px;
  top: 555px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-7 {
  position: fixed;
  left: 1042px;
  top: 528px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-8 {
  position: fixed;
  left: 1100px;
  top: 540px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-9 {
  position: fixed;
  left: 1087px;
  top: 508px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-10 {
  position: fixed;
  left: 1100px;
  top: 560px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-11 {
  position: fixed;
  left: 1090px;
  top: 580px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-12 {
  position: fixed;
  left: 1102px;
  top: 470px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-13 {
  position: fixed;
  left: 960px;
  top: 440px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.AltProd-14 {
  position: fixed;
  left: 1030px;
  top: 457px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-1 {
  position: fixed;
  left: 1260px;
  top: 350px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-2 {
  position: fixed;
  left: 1210px;
  top: 285px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-3 {
  position: fixed;
  left: 1203px;
  top: 415px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-4 {
  position: fixed;
  left: 1245px;
  top: 408px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-5 {
  position: fixed;
  left: 1253px;
  top: 370px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-6 {
  position: fixed;
  left: 1220px;
  top: 388px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-7 {
  position: fixed;
  left: 1220px;
  top: 388px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-8 {
  position: fixed;
  left: 932px;
  top: 245px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-9 {
  position: fixed;
  left: 1233px;
  top: 450px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-10 {
  position: fixed;
  left: 1236px;
  top: 433px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-11 {
  position: fixed;
  left: 1438px;
  top: 495px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-12 {
  position: fixed;
  left: 1457px;
  top: 508px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-13 {
  position: fixed;
  left: 1373px;
  top: 490px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-14 {
  position: fixed;
  left: 1177px;
  top: 336px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-15 {
  position: fixed;
  left: 1148px;
  top: 361px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-16 {
  position: fixed;
  left: 1130px;
  top: 408px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-17 {
  position: fixed;
  left: 1052px;
  top: 416px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-18 {
  position: fixed;
  left: 1052px;
  top: 416px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-19 {
  position: fixed;
  left: 1052px;
  top: 416px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.StrProd-20 {
  position: fixed;
  left: 102px;
  top: 156px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-1 {
  position: fixed;
  left: 1295px;
  top: 223px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-2 {
  position: fixed;
  left: 1195px;
  top: 210px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-3 {
  position: fixed;
  left: 1222px;
  top: 212px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-4 {
  position: fixed;
  left: 1250px;
  top: 217px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-5 {
  position: fixed;
  left: 930px;
  top: 566px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-6 {
  position: fixed;
  left: 920px;
  top: 581px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-7 {
  position: fixed;
  left: 910px;
  top: 600px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-8 {
  position: fixed;
  left: 900px;
  top: 618px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-9 {
  position: fixed;
  left: 870px;
  top: 575px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-10 {
  position: fixed;
  left: 970px;
  top: 555px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-11 {
  position: fixed;
  left: 900px;
  top: 545px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-12 {
  position: fixed;
  left: 970px;
  top: 555px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-13 {
  position: fixed;
  left: 982px;
  top: 535px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-14 {
  position: fixed;
  left: 920px;
  top: 525px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-15 {
  position: fixed;
  left: 940px;
  top: 625px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-16 {
  position: fixed;
  left: 893px;
  top: 441px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-17 {
  position: fixed;
  left: 1335px;
  top: 445px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-18 {
  position: fixed;
  left: 999px;
  top: 238px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-19 {
  position: fixed;
  left: 1265px;
  top: 320px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-20 {
  position: fixed;
  left: 1250px;
  top: 325px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-21 {
  position: fixed;
  left: 1285px;
  top: 240px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-22 {
  position: fixed;
  left: 1275px;
  top: 285px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.ECCABS-23 {
  position: fixed;
  left: 1270px;
  left: 1265px;
  top: 295px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts1 {
  position: flex;
  margin-right: 5px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2 {
  position: flex;
  margin-right: 5px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts1-1 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 425px;
  left: 580px;
  background-color: #8b8f8c;
}

.Parts1-2 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 435px;
  left: 620px;
  background-color: #8b8f8c;
}

.Parts1-3 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 440px;
  left: 660px;
  background-color: #8b8f8c;
}

.Parts1-4 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 450px;
  left: 700px;
  background-color: #8b8f8c;
}

.Parts1-5 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 475px;
  left: 520px;
  background-color: #8b8f8c;
}

.Parts1-6 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 480px;
  left: 550px;
  background-color: #8b8f8c;
}

.Parts1-7 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 455px;
  left: 545px;
  background-color: #8b8f8c;
}

.Parts1-8 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 463px;
  left: 570px;
  background-color: #8b8f8c;
}

.Parts1-9 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 485px;
  left: 580px;
  background-color: #8b8f8c;
}

.Parts1-10 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 410px;
  left: 700px;
  background-color: #8b8f8c;
}

.Parts1-11 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 405px;
  left: 750px;
  background-color: #8b8f8c;
}

.Parts1-12 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 425px;
  left: 730px;
  background-color: #8b8f8c;
}

.Parts1-13 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 300px;
  left: 820px;
  background-color: #8b8f8c;
}

.Parts1-14 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 495px;
  left: 680px;
  background-color: #8b8f8c;
}

.Parts1-15 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 240px;
  left: 905px;
  background-color: #8b8f8c;
}

.Parts1-16 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 240px;
  left: 870px;
  background-color: #8b8f8c;
}

.Parts1-17 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 260px;
  left: 800px;
  background-color: #8b8f8c;
}

.Parts1-18 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 190px;
  left: 920px;
  background-color: #8b8f8c;
}

.Parts1-19 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 210px;
  left: 900px;
  background-color: #8b8f8c;
}
.Parts1-20 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 260px;
  left: 770px;
  background-color: #8b8f8c;
}
.Parts1-21 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  left: 920px;
  top: 370px;
  background-color: #8b8f8c;
}
.Parts1-22 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 280px;
  left: 780px;
  background-color: #8b8f8c;
}
.Parts1-23 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 280px;
  left: 750px;
  background-color: #8b8f8c;
}
.Parts1-24 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 300px;
  left: 760px;
  background-color: #8b8f8c;
}
.Parts1-25 {
  position: fixed;
  border-radius: 20px;
  z-index: 3;
  top: 180px;
  left: 870px;
  background-color: #8b8f8c;
}

.Parts2-1 {
  position: fixed;
  top: 370px;
  left: 730px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-2 {
  position: fixed;
  top: 355px;
  left: 750px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-3 {
  position: fixed;
  top: 360px;
  left: 780px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-4 {
  position: fixed;
  top: 510px;
  left: 565px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-5 {
  position: fixed;
  top: 525px;
  left: 550px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-6 {
  position: fixed;
  top: 550px;
  left: 550px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-7 {
  position: fixed;
  top: 375px;
  left: 760px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-8 {
  position: fixed;
  top: 380px;
  left: 790px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-9 {
  position: fixed;
  top: 330px;
  left: 710px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-10 {
  position: fixed;
  top: 540px;
  left: 520px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-11 {
  position: fixed;
  top: 320px;
  left: 740px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-12 {
  position: fixed;
  top: 540px;
  left: 485px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-13 {
  position: fixed;
  top: 530px;
  left: 500px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-14 {
  position: fixed;
  top: 520px;
  left: 510px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-15 {
  position: fixed;
  top: 510px;
  left: 520px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-16 {
  position: fixed;
  top: 500px;
  left: 530px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-17 {
  position: fixed;
  top: 350px;
  left: 810px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-18 {
  position: fixed;
  top: 330px;
  left: 780px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-19 {
  position: fixed;
  top: 550px;
  left: 590px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-20 {
  position: fixed;
  left: 1078px;
  top: 355px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-21 {
  position: fixed;
  left: 1058px;
  top: 325px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-22 {
  position: fixed;
  left: 1028px;
  top: 335px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-23 {
  position: fixed;
  left: 1157px;
  top: 200px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-39 {
  position: fixed;
  left: 1132px;
  top: 220px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-34 {
  position: fixed;
  left: 1122px;
  top: 260px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-35 {
  position: fixed;
  left: 1092px;
  top: 240px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-36 {
  position: fixed;
  left: 1182px;
  top: 250px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-37 {
  position: fixed;
  left: 1282px;
  top: 260px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-24 {
  position: fixed;
  left: 1048px;
  top: 355px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-48 {
  position: fixed;
  left: 1002px;
  top: 406px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-25 {
  position: fixed;
  left: 1068px;
  top: 390px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-26 {
  position: fixed;
  left: 1008px;
  top: 380px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-27 {
  position: fixed;
  left: 1038px;
  top: 385px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-28 {
  position: fixed;
  left: 995px;
  top: 510px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-29 {
  position: fixed;
  left: 985px;
  top: 485px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-30 {
  position: fixed;
  left: 945px;
  top: 485px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-31 {
  position: fixed;
  left: 1373px;
  top: 490px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-32 {
  position: fixed;
  left: 995px;
  top: 275px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}

.Parts2-33 {
  position: fixed;
  left: 1373px;
  top: 490px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-40 {
  position: fixed;
  top: 290px;
  left: 865px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-41 {
  position: fixed;
  top: 285px;
  left: 845px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-42 {
  position: fixed;
  top: 280px;
  left: 825px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-43 {
  position: fixed;
  top: 260px;
  left: 835px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-44 {
  position: fixed;
  top: 265px;
  left: 855px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-45 {
  position: fixed;
  top: 270px;
  left: 875px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-46 {
  position: fixed;
  top: 275px;
  left: 895px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
.Parts2-47 {
  position: fixed;
  top: 305px;
  left: 845px;
  border-radius: 20px;
  z-index: 3;
  background-color: #8b8f8c;
}
